#contact-info {
  font-size: 0.8em;
}

.job {
  background-color: #e9e5dc;
  /*background-color: hotpink;*/
  border-radius: 15px;
  padding: 10px 8px 10px 12px;
  margin-top: 15px;

}

.job-description {
  font-size: 0.8em;
}

p::first-line {
  font-weight: bold; /*Release 3.2.2 Question 2*/
}

li:first-child {
  font-weight: bold; /*Release 3.2.2 Question 3*/
  color: blue;
}

.featured {            /*just for fun*/
  font-weight: bolder;
  color: red;
}
