/*id used to  identify one element*/
/*class used to identify a group of elements*/
.ocean {
  position: relative;

}

#hat {
  position: relative;
  top: -200px;
  left: 260px;
  z-index: 1;


}

#glasses {
  position: relative;;
  top: -130px;
  left: 460px;

  z-index: 1;


}

#octopus {
  position: relative;
  left: auto;
  right: auto;
  /*margin: 200px 300px 300px 300px;*/
  margin-top: 200px;


}
