/*id used to  identify one element*/
/*class used to identify a group of elements*/
.ocean {
  position: relative;

}

#hat {
  position: absolute;


}

#glasses {
  position: absolute;


}

#octopus {


}
